
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
header .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin-right: 15px;
}
header ul li a{
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}
header ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}
header ul li a:hover::after{
    width: 100%;
}
header ul li a:hover{
    color: #fac031;
}
header .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}
header .icon .menu-bar{
    display: none;
}
header .icon i:hover{
    color: #fac031;
}

/* Home section */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7rem;
}
.home .left{
    margin-top: 20px;
}
.home .left h1{
    font-size: 60px;
}
.home .left span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}
.home .left p{
    margin-top: 50px;
    width: 600px;
    text-align: justify;
    line-height: 22px;
}
.home .left .home_btn{
    margin-top: 40px;
    background: #fac031;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 13px;
}
.home .left .home_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}
.home .left .home_bt i{
    color: #fff;
    transition: 0.5s;
}
.home .left .home_btn:hover i{
    transform: translateX(7px);
}

.home .right{
    padding: 0;

}

.home .right img{
    margin-top: 20px;
    position: relative;
    top: 20px;
    width: 700px;
}

/* About section */
.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .container .left img{
    width: 800px;
    position: relative;
    top: 60px;
}
.about .container .right h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}
.about .container .right h1 span{
    color: #fac031;
    margin-right: 15px;
    font-family: mv boli;
}
.about .container .right h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}
.about .container .right p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
}
.about .about-btn{
    background: #fac031;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 13px;
    color: #fff;
    position: relative;
    top: 6rem;
}

/* Menu section */

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 16px;
    margin: auto;
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    border-radius: 15px;
    transition: 0.3s;
}

@media screen and (width < 1170px){
    .home{
        padding-top: 15rem;
    }
}

@media screen and (width < 900px) {
    .home{
        width: 100%;
        height: 100vh;
        padding: 0;
        display: block;
        text-align: center;
    }
    .home .left{
        margin: 0;
        position: relative;
        top: 7rem;
    }
    .home .left h1{
        font-size: 40px;
        font-weight: 600;
    }
    .home .left span{
        font-size: 50px;
    }
    .home .left p{
        padding-top: 30px;
        padding-bottom: 30px;
        margin: auto;
    }
    .home .left .home_btn{
        margin: auto;
    }

    .home .right{
        position: relative;
        top: 6rem;
    }
    .home .right img{
        max-width: 650px;
        width: 300px;
    }

    /* About section */
    .about .container{
        display: block;
        text-align: center;
        justify-content: center;
    }
    .about .container .left img{
        max-width: 650px;
        width: 300px;
    }
    .about .container .right h1{
        position: relative;
        top: 20px;
        font-size: 35px;
    }
    .about .container .right h3{
        position: relative;
        top: 20px;
        font-size: 20px;
    }
    .about .container .right p{
        position: relative;
        top: 20px;
        text-align: justify;
        margin: auto;
        line-height: 22px;
        padding: 0;
    }
    .about .right .about-btn{
        background: #fac031;
        padding: 10px 21px;
        border-radius: 13px;
        color: #fff;
    }

    /* menu section */
    .menu .menu_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .menu .menu_box .menu_card{
        margin: auto;
    }
}


@media screen and (width < 700px) {
    header{
        height: 60px;
        text-align: center;
        padding: 0 12px;
    }
    header .logo img{
        width: 60px;
    }
    header ul{
        display: block;
        position: relative;
        top: 5rem;
        right: .8rem;
        max-width: 900px;
        width: 500px;
        margin: auto;
        padding-left: 30px;
        box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.2);
        border-radius: 15px;
        background-color: #fff;
        transform: translateY(-140%);
        opacity: 0;
        transition: .5s;
    }
    header ul.show{
        transform: translateY(0%);
        opacity: 1;
    }
    header ul li{
        padding: 10px 10px;
    }
    header .icon{
        display: flex;
    }
    header .icon .menu-bar{
        display: block;
    }
    header .icon i:nth-child(1){
        display: none;
    }
    header .icon i:nth-child(2){
        display: none;
    }

    /* home section */

    .home{
        padding: 0;

    }
    .home .left h1{
        font-size: 45px;
        font-weight: 600;
    }
    .home .left span{
        font-size: 45px;
        font-weight: 700;
    }
    .home .left p{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 300px;
        margin: auto;
    }
    .home .left .home_btn{
        margin-top: 10px;
        margin: auto;
    }


    .home .right{
        display: none;
    }

    /* About section */
    .about{
        width: 100%;
    }
    .about .container{
        display: block;
        text-align: center;
    }
    .about .container .left img{
        width: 200px;
        position: relative;
        top: -40px;
    }
    .about .container .right h1{
        position: relative;
        top: -50px;
        font-size: 45px;
        padding: 0;
    }
    .about .container .right h3{
        position: relative;
        top: -40px;
        font-size: 20px;
    }
    .about .container .right p{
        position: relative;
        top: -60px;
        width: 300px;
        text-align: justify;
        margin: auto;
        line-height: 22px;
        padding: 0;
    }
    .about .right .about-btn{
        position: relative;
        top: -40px;
        background: #fac031;
        padding: 10px 21px;
        border-radius: 13px;
        color: #fff;
    }

    /* menu section */
    .menu .menu_box{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .menu .menu_box .menu_card{
        margin: auto;
    }
}
